.lake {
	width:250px;
	height: 10px;
	margin-top: 20px;
	margin-left: -40px;
}

.levels {
	margin-top: 50px;
	width:60%;

}

.top {
	background-color: black;
}

#title {
	margin-top: -21px;
	margin-bottom: 16px;
}
#weather {
	margin-bottom: 29px;
	font-size:20px;
}

.feeditem {
	font-size: 20px;
	color:white;
	text-shadow: 2px 2px 2px black;
}
.tempMin {
	margin-left: 0px;
}

.pos {
	
	font-size: 18px;
}
#min {
	margin-left: 8px;
    margin-right: 27px;
    text-align: center;
}
#max {
	margin-right: 41px;
	text-align: center;
}
#temp {
	margin-right: 34px;
	text-align: center;

}
#level {
	margin-right: 15px;
	text-align: center;
}
.ice {
	text-align: center;
	width: 270px;
}

.widget {
	margin-left: -133px;
	width: 900px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 7px;
}