{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %} ">

</head>
<body style="background:url( {% static 'ocean.jpg' %});">

	<div class="container" style="background:white; height: 900px;box-shadow: 0 0 11px black; overflow:scroll;">

		<div class="row bar">
			<div class="col-sm-12 top">
				<h1 class="inset">Lake Levels</h1>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-2 sidebar">
				<ul id="antelope" class="a lake sel">
					Antelope Island
						
					</ul>
				<ul id="bear" class="a lake sel">
					 Bear Lake
						</ul>
				<ul id="deer" class="a lake sel">
					 Deer Creek</ul>
				<ul id="escalante" class="a lake sel">
					 Escalante Petrified Forest</ul>
				
				<ul id="great" class="a lake sel">
					 Great Salt Lake</ul>
				<ul id="gun" class="a lake sel">
					 Gunlock</ul>
				<ul id="hyr" class="a lake sel">
					 Hyrum</ul>
				<ul id="jordan" class="a lake sel">
					 Jordanelle</ul>
			
				<ul id="otter" class="a lake sel">
					 Otter Creek</ul>
				<ul id="pali" class="a lake sel">
					 Palisades</ul>
				<ul id="piu" class="a lake sel">
					 Piute</ul>
				<ul id="quail" class="a lake sel">
					 Quail Creek</ul>
			
				<ul id="red" class="a lake sel">
					 Red Fleet</ul>
				<ul id="rock" class="a lake sel">
					 Rockport</ul>
				<ul id="sand" class="a lake sel">
					 Sand Hollow</ul>
				<ul id="starve" class="a lake sel">
					 Starvation</ul>
			
				<ul id="stein" class="a lake sel">
					 Steinaker</ul>
				<ul id="utah" class="a lake sel">
					 Utah Lake</ul>
				<ul id="yub" class="a lake sel">
					 Yuba</ul>
			</div>
			
			<div class="col-sm-2">
				
			</div>
			
		
			<div class="col-sm-8 levels">
				{% block conditions %}
				{% endblock %}
					<div id="lake-list">
					</div>
			</div>
		</div>


					


	




	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/base.js' %} "></script>

	
</body>


</html>